@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Light theme */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --card-bg-color: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 227, 227, 227;
    --background-rgb: 27, 27, 29;
    --card-bg-color: #2b2b2e;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}