.card {
  --horizontal-card-margin: 8px;
  --vertical-card-margin: 8px;

  background-color: var(--card-bg-color);
  /* TODO: figure out how to move vardef here */
  border-radius: 10px;

  flex: 1 1 auto;
  align-self: flex-start;
}

.cardHeader {
  font-size: 28px;

  margin-top: var(--vertical-card-margin);
  margin-left: var(--horizontal-card-margin);

  display: flex;
  flex: 1 1;
  align-items: center;
}

.cardOwnerAvatar {
  /* TODO: should these match the ones in the code and vice-versa? */
  width: 48px;
  height: 48px;
}

.cardSlug {
  /* Distance from the owner icon on the left. */
  margin-left: var(--horizontal-card-margin);
  /* Distance from the star icon on the right. */
  margin-right: var(--horizontal-card-margin);
}

.cardSlug a:hover {
  text-decoration: underline;
}

.cardSlugSlash {
  /* Spaces with <pre> are too big. */
  margin-left: 4px;
  margin-right: 4px;
}

.cardStars {
  /* Needed to grow space to the right */
  flex: 1 1;
  /* Flexbox to align star icon and count text to the
    right (`float: right does not work inside flexboxes) */
  display: flex;
  /* Actual thing that aligns stuff to the right. */
  justify-content: flex-end;

  margin-right: var(--horizontal-card-margin);
}

.cardStarsIcon {
  /* Icon is not centered by default, even though .cardHeader
    should've probably done that. */
  align-self: center;
  /* Yes, it does make website better. */
  margin-right: 2px;
}

.cardDescriptionSeparator {
  /* Thickness */
  height: 2px;
  /* Remove browser-dependent behavior. */
  border: none;
  background-color: #fff;

  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;

  margin-top: var(--vertical-card-margin);
  margin-bottom: var(--vertical-card-margin);
}

.cardDescription {
  font-size: 22px;
  margin-left: var(--horizontal-card-margin);
}

.cardMetadata {
  /* Arrange all fields into another horizontal flexbox. */
  display: flex;
  flex: 1 1;
  align-items: center;

  /* Double margin-top is intentional. */
  margin-top: var(--vertical-card-margin);
  margin-bottom: var(--vertical-card-margin);

  font-size: 20px;
}

/* Essentially just another field */
.cardMetadataLanguage {
  display: flex;

  /* Leftmost field has default horizontal margin to be
  consistent with stuff above it. */
  margin-left: var(--horizontal-card-margin);
}

.cardMetadataLanguageIndicator {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-width: 1px;

  align-self: center;
}

/* Same as .cardMetadataFieldText */
.cardMetadataLanguageText {
  margin-left: calc(var(--horizontal-card-margin) / 2);
}

.cardMetadataField {
  display: flex;

  /* However, the space between each field shall be twice
  as big. Using `gap` property on `.cardMetadata` introduces
  some artifacts (on FF at least) so we can't use it here. */
  margin-left: calc(var(--horizontal-card-margin) * 2);
}

.cardMetadataFieldIcon {
  align-self: center;
}

.cardMetadataFieldText {
  margin-left: calc(var(--horizontal-card-margin) / 2);
}
