.Header {
    display: flex;

    margin-bottom: calc(var(--unified-vertical-margin) * 2);

    /* box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.7); */
    border-bottom: 1px solid var(--alt-color);
}

.HeaderName {
    margin-left: var(--unified-horizontal-margin);
    align-self: center;

    font-size: 40px;
}

.HeaderDescription {
    align-self: center;

    margin-left: calc(var(--unified-horizontal-margin) * 2);
    font-size: 20px;
}
